body {
    margin: 0;
    font-family: helvetica, sans-serif;
}

.top{
    width: 92%;
    height: 4vh;
    padding-left:  4%;
    padding-right: 4%;
    padding-bottom: 4vh;
    padding-top: 2vh;
    background-color: black;
    
}

.top div{
    display: inline-block;
    background-color: black;
    color: white;
    margin-left: 1vh;
    margin-right: 0vh;
    font-size: 0.9rem;
    padding: 1.5vh;
    border-radius: 3vh;
    position: relative;
    bottom: 1vh;
    cursor: pointer;
}

.top div a {
    text-decoration: none;
    color: white;
}

.topLeft img{
    height: 1.6vh;
    width: 1.76vh;
    position:absolute;
    left: 12.5vh;
    top: 2vh;
}

.top div:hover {
    background-color: rgba(127, 127, 127, 0.5);
}

.topRight {
    text-align: right;
}

#uber {
    font-size: 1.5rem;
    position: relative;
    bottom: 0.5vh;
    cursor: default;
}

#company {
    width: 13vh;
}

#uber:hover {
    background-color: black;
}

#empty{
    width: 41%;
    height: 0;
    border: none;
    cursor: default;
}

#empty:hover {
    background-color: black;
}

#language {
    width: 11vh;
    position: relative;
}

#language img{
    width: 2.64vh;
    height: 2.5vh;
    position: absolute;
    left: 3.08vh;

}

#products {
    width: 15.4vh;
    position: relative;
}

#products img{
    width: 2.64vh;
    height: 2.5vh;
    position: absolute;
    left: 3.08vh;
    border: none;
}

#signup {
    background-color: white;
    color: black;
}

#signup:hover {
    background-color: #e0e0e0;
}

.secondtop {
    width: 92%;
    height: 8vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3vh;;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

.secondtop article, .secondtop div, .secondtop h2 {
    display: inline-block;
}

.secondtop div, .secondtop h2 {
    margin-left: 2.2vh;
}

.secondtop h2 {
    width: 56%;
}

.secondtop div {
    font-size: 0.9rem;
    color: #6B6B6B;
}

.secondtop a:hover {
    color: black;
}

.secondtop a{
    text-decoration: none;
    color: #6B6B6B;
}

.thirdtop {
    background-color: black;
    color: white;
    width: 98%;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 2%;
}

.thirdtop div{
    position: absolute;
    font-size: 3rem;
    width: 30%;
    height: 20vh;
    margin-top: 28vh;
    margin-left: 11vh;
}

.thirdtop p{
    display: inline-block;
    position: absolute;
    height: 3.5vh;
    margin-top: 56vh;
    font-size: 1rem;
    font-weight:600;
    text-align: center;
    vertical-align: center;
    padding: 2vh 0;
}


#deliverSignUp {
    background-color: white;
    color: rgba(30, 30, 30, 1.0);
    border-radius: 1vh;
    margin-left: 11vh;
    width: 28.6vh;
}

#deliverSignIn {
    margin-left: 44vh;
    border-bottom: 1px solid #e0e0e0;
    padding: 0;
    top: 33vh;
}

#deliverSignUp:hover {
    background-color: #e0e0e0;
}

#deliverSignUp a {
    color: black;
    text-decoration: none;
}

#deliverSignIn a {
    color: white;
    text-decoration: none;
}

.thirdtop img {
    position: relative;
    margin-left: 110vh;
}

.search {
    width: 98%;
    padding-bottom: 10vh;
    padding-top: 8vh;
    padding-left: 2%;
    height: 30vh;
}

.search div{
    display: inline-block;

}

.search h1 {
    margin-left: 5vh;
    font-size: 2rem;

}

.search input {
    width: 169.4vh;
    height: 6vh;
    margin-left: 11vh;
    border-radius: 1.5vh;
    background-color: rgba(227, 227, 227, 0.6);
    border: none;
    padding: 1vh 2.2vh;
    font-size: 17px;
}

#searchIcon {
    background-color: black;
    width: 7.04vh;
    height: 6vh;
    border-radius: 1vh;
    padding-top: 1.5vh;
    margin-left: 2.2vh;
    position: absolute;

}

#searchIcon:hover {
    background-color: rgba(50, 50, 50, 1.0);
    cursor: pointer;
}
.search img {
    width: 6.6vh;
    height: 5vh;
    margin-top: 0vh;
}

.video {
    width: 84%;
    height: 120vh;
    padding: 0 8%;;
}

.video iframe{
    width: 100%;
    height: 100vh;
    border: none;
}

.middle {
    height: 370vh;
}

.middle h1 {
    margin-left: 17.6vh;
    margin-bottom: 5vh;
    font-size: 2rem;
    color: #2D3645;
}
.middle article {
    position: relative;
    width: 100%;
    height: 44vh;
}

.middle div{
    display: inline;
}

.icon {
    position: absolute;
    height: 40vh;
    width: 44vh;
    padding-left: 28.6vh;
}

.icon img {
    height: 35vh;
    width: 35vh;
}

.dot {
    height: 1.43vh;
    width: 1.43vh;
    background-color: black;
    position: absolute;
    top: 0.5vh;
    left: 84.04vh;
    margin-top: 0vh;
}

.verline {
    border-left: 1px solid black;
    height: 41.4vh;
    position: absolute;
    left: 84.7vh;
    top: 2.2vh;
    margin-top: 0.3vh;
}

.textarea {
    width: 99vh;
    height: 40vh;
    position: absolute;
    left: 88vh;
    padding-left: 6.6vh;
    color: #2D3645;
}

#textarea1 nav {
    display: inline-block;
    margin-top: 2vh;
    margin-right: 4.4vh;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1vh;; 
}

#textarea1 a {
    color: black;
    text-decoration: none;
}

.textarea_heading {
    font-weight: 600;
    position: relative;
    top: -2vh;
}

.textarea_parag {
    position: relative;
    top: -2vh;
}

li {
    margin-bottom: 1vh;
}


.secondmiddle h1 {
    color: #323232;
    font-size: 2rem;
    margin-left: 17.6vh;
}

.dropdown {
    margin-left: 17.6vh;
    border-bottom: 1px solid rgba(127, 127, 127, 0.5);
    width: 80%;
    padding: 2vh;
    color: #2D3645; 
}
.dropdown input, .dropdown ul {
    display: none;
}

.dropdown label:hover {
    cursor: pointer;
}

#checkbox1:checked ~ #list1 {
    display: block;
}

#checkbox2:checked ~ #list2 {
    display: block;
}
.dropdown a {
    color: #2D3645;
}

.signuptoday {
    margin-left: 17.6vh;
    margin-top: 10vh;
    padding: 11vh 0;
    height: 8vh;
    width: 40%;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

.signuptoday a{
    color: #323232;
    text-decoration: none;
}
.signuptoday img {
    height: 5vh;
    width: 10vh;
    margin-left: 39vh;
}

.driverapp {
    height: 53vh;
    background-color: #F6F6F6;
    margin-top: 10vh;
    padding: 6vh 17.6vh;
}

.driverapp a {
    color: black;
    text-decoration: none;
}

.driverapplogo {
    height: 26vh;
    background-color: white;
    width: 83.6vh;
    border: 0.5px solid rgba(127, 127, 127, 0.3);
    padding: 4vh;
}


.driverapp h1 {
    font-size: 2rem;

}
.driverapplogo h1 img {
    height: 3vh;
    width: 7vh;
    margin-left: 3vh;
}

.driverapplogo img {
    height: 25vh;
    width: 25vh;
}

.driverapplogo h1 {
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    bottom: 10vh;
    left: 4.4vh;
}

.notice {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 17.6vh;
    width: 198vh;
    height: 10vh;
    font-size: 0.9rem;
    color:rgba(70, 70, 70, 1.0);
}

footer {
    height: auto;
    background-color: black;
    color: white;
    padding-top:  15.4vh;
    padding-left: 7vw;
    padding-bottom: 25vh;
}

footer article {
    position: relative;
}


footer div {
    display: inline-block;
    position: relative;
    width: 33vh;
}

footer a {
    text-decoration: none;
    color:white;
}

.foothead div{
    padding-bottom: 7vh;
    padding-top: 3vh;
    width: unset;   
    border-bottom: 1px solid black; 
}
.foothead div:hover {
    border-bottom: 1px solid white;
}

.column a:hover {
    color: #6B6B6B;
}

.column_head {
    font-size: 1rem;
    font-weight: 600;
}

.column {
    width: 20%;
    margin-top: 30px;
    display: inline-table;
    position: relative;
    font-size: 0.9rem;
}
.column div{
    margin-right: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.icons {
    top: 7vh;
}

.icons img {
    height: 3vh;
    width: 3vh;
    margin: 0 1vh;
}

.icons p {
    display: inline-block;
    height: 5vh;
}

.icons1 {
    width: 50%; 
}

.icons1 img {
    margin-right: 4vw;
    padding: 2vh;
    border-radius: 1vh;
}
.icons1 img:hover {
    background-color:#323232;
}

.icons2 {
    width: 18%;
    padding-left: 50vh;
}

.icons2 img {
    position: relative;
    top: 1vh;
    
}

.icons2 a {
    height: 3vh;
    padding: 2vh;
    border-radius: 2vh;
}
.icons2 a:hover {
    background-color: #323232;
}

.appstore {
    top: 10vh;
}

.appstore img {
    width: 20vh;
    height: 10vh;
    margin-right: 2vh;;
}

.appstore div {
    width: unset;
}

.foot {
    top: 20vh;
}

.foot p {
    display: inline-block;
    font-size: 0.9rem;
    color: #6B6B6B;
    margin-right: 5vh;
}

.leftfoot {
    width: auto;
}

.rightfoot {
    width: auto;
    padding-left: 27vw;
}

.rightfoot a {
    color:#6B6B6B;
}

.rightfoot p:hover {
    color:#222222;
}

@media (max-width: 768px) {
    .top .topLeft,.top .topRight,.top #empty {
        display: none;
    }
    .top #uber, .top #login, .top #signup {
        display: inline-block;
    }
    .top #login {
        position: relative;
        left: 45%;
    }
    .top #signup {
        position: relative;
        left: 45%;
    }
    .secondtop div {
        display: none;
    }
    .thirdtop {
        padding-top: 7vh;
        padding-bottom: 35vh;
    }
    .thirdtop div {
        position: absolute;
        left: 7%;
        margin: 0;
        font-size: 2rem;
        width: 70%;
    }
    .thirdtop p {
        position: absolute;
        left: 7%;
        top: 40vh;
        margin: 0;
    }
    #deliverSignUp {
        margin: 0;
    }
    #deliverSignIn {
        margin: 0;
        top: 50vh;
    }
    .thirdtop img {
        margin-left: 5%;
        top: 30vh;
        width: 90%;
        height: 90%;
    }
    .search h1 {
        margin-left: 7%;
    }
    .search input {
        width: 65vw;
        margin-left: 7%;
        
    }
    #searchIcon {
        left: 78vw;
    }
    .video {
        height: auto;
        width: auto;
        padding: 0 5%;
    }
    .video iframe {
        height: 40vh;    
    }
    .middle {
        height: auto;
    }
    .middle article {
        height: 78vh;
    }
    .middle h1 {
        margin-left: 7%;
        margin-top: 15%;
    }
    .dot {
        left: 7vw;
    }
    .verline {
        left: 7.5vw;
        height: 75vh;
    }
    .icon {
        padding-left: 30%;
    }
    .textarea{
        display: block;
        left: 5vw;
        top: 40vh;
        width: 80%;
    }
    .secondmiddle h1 {
        margin-left: 7vw;        
    }
    .dropdown {
        margin-left: 7vw;
    }
    .signuptoday {
        margin-left: 7vw;
        width: 80%;

    }
    .signuptoday img {
        margin-left: 0;
        position: absolute;
        right: 10%;
    }
    .driverapp {
        padding: 6vh 7vw;
        
    }
    .driverapplogo {
        width: 92%;
        padding: 4vw;
        height: auto;
    }
    .driverapplogo img{
        width: 15vh;
        height: 15vh;

    }
    .driverapplogo h1 {
        width: 70%;
        bottom: 7vw;
    }
    .driverapplogo h1 img {
        position: relative;
        right: auto;
        top: 60%;
    }
    .notice {
        width: 86vw;
        padding-left: 7vw;
        padding-bottom: 10vh;
    }
    .icons1 {
        width: 100%;
        margin-bottom: 50px;
    }
    .icons2 {
        padding-left: 0;
        width: 100%;
        margin-bottom: 50px;
    }
    .rightfoot {
        display: block;
        padding-left: 0;
        margin-top: 50px;
    }

}




